Track changes with a version number in the README.md file with the major.minor.patch format.
    MAJOR: When you make multi functionality changes.
    MINOR: When you add individual functionality.
    PATCH: When you make bug fixes.

Always update the README.md file with any changes made to the codebase. Set the .env file to the a generic sample version before pushing to git.

Create a CHANGES.md file to document changes between versions.

Add new feature requests/changes to the TODO.md file.

Strikethrough items from the TODO.md list that are done, include the version number.

Create a new git repo and push changes to the repository when things are working nicely.

Do not use && between commands when developing on Windows.

My common tech stack is python, flask, sqlalchemy, alembic, pytest, flutter, mongodb atlas or sqlite.
    - Individual projects may use different tech stacks.

Always work in a python virtual environment.

This dev environment is a windows 11, Windsurf is running from PowerShell.

Create a run file in BASH and Batch for running the backend and frontend.